<a href="https://colab.research.google.com/github/crpytoscooby/College/blob/master/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("/content/dataset_Facebook.csv - dataset_Facebook.csv.csv",sep= ";")

In [4]:
data.shape

(500, 19)

In [5]:
data.info

<bound method DataFrame.info of      Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
0              139441   Photo         2          12             4          3
1              139441  Status         2          12             3         10
2              139441   Photo         3          12             3          3
3              139441   Photo         2          12             2         10
4              139441   Photo         2          12             2          3
..                ...     ...       ...         ...           ...        ...
495             85093   Photo         3           1             7          2
496             81370   Photo         2           1             5          8
497             81370   Photo         1           1             5          2
498             81370   Photo         3           1             4         11
499             81370   Photo         2           1             4          4

     Paid  Lifetime Post Total,Reach  Lifetime,Post,Total,Impressions  \
0     0.0                       2752                             5091
1     0.0                      10460                            19057
2     0.0                       2413                             4373
3     1.0                      50128                            87991
4     0.0                       7244                            13594
..    ...                        ...                              ...
495   0.0                       4684                             7536
496   0.0                       3480                             6229
497   0.0                       3778                             7216
498   0.0                       4156                             7564
499   NaN                       4188                             7292

     Lifetime,Engaged,Users  Lifetime,Post,Consumers  \
0                       178                      109
1                      1457                     1361
2                       177                      113
3                      2211                      790
4                       671                      410
..                      ...                      ...
495                     733                      708
496                     537                      508
497                     625                      572
498                     626                      574
499                     564                      524

     Lifetime,Post,Consumptions  \
0                           159
1                          1674
2                           154
3                          1119
4                           580
..                          ...
495                         985
496                         687
497                         795
498                         832
499                         743

     Lifetime,Post,Impressions,by,people,who,have,liked,your,Page  \
0                                                 3078
1                                                11710
2                                                 2812
3                                                61027
4                                                 6228
..                                                 ...
495                                               4750
496                                               3961
497                                               4742
498                                               4534
499                                               3861

     Lifetime,Post,reach,by,people,who,like,your,Page  \
0                                                1640
1                                                6112
2                                                1503
3                                               32048
4                                                3200
..                                                ...
495                                              2876
496                                              2104
497                                              2388
498                                              2452
499                                              2200

     Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post  \
0                                                  119
1                                                 1108
2                                                  132
3                                                 1386
4                                                  396
..                                                 ...
495                                                392
496                                                301
497                                                363
498                                                370
499                                                316

     comment    like  share                           Total,Interactions
0          4    79.0   17.0   100,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1          5   130.0   29.0   164,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2          0    66.0   14.0    80,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
3         58  1572.0  147.0  1777,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
4         19   325.0   49.0   393,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
..       ...     ...    ...                                          ...
495        5    53.0   26.0    84,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
496        0    53.0   22.0    75,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
497        4    93.0   18.0   115,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
498        7    91.0   38.0   136,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
499        0    91.0   28.0   119,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,

[500 rows x 19 columns]>

In [7]:
c=data.columns
c

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total,Reach',
       'Lifetime,Post,Total,Impressions', 'Lifetime,Engaged,Users',
       'Lifetime,Post,Consumers', 'Lifetime,Post,Consumptions',
       'Lifetime,Post,Impressions,by,people,who,have,liked,your,Page',
       'Lifetime,Post,reach,by,people,who,like,your,Page',
       'Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post',
       'comment', 'like', 'share', 'Total,Interactions'],
      dtype='object')

In [11]:
sub1 = data[['Page total likes','Type','Category']]
sub2 = data[['Post Month','Post Weekday','Post Hour','Paid']]

In [9]:
sub1.shape

(500, 3)

In [12]:
sub2.shape

(500, 4)

In [14]:
# Merging the subsets created (sub1 and sub2)
merge_data = pd.merge(right=sub1, left=sub2,left_index=True, right_index=True) #  how='left', right_on='Category', left_on='Category')
merge_data

,Post Month,Post Weekday,Post Hour,Paid,Page total likes,Type,Category
0,12,4,3,0.0,139441,Photo,2
1,12,3,10,0.0,139441,Status,2
2,12,3,3,0.0,139441,Photo,3
3,12,2,10,1.0,139441,Photo,2
4,12,2,3,0.0,139441,Photo,2
...,...,...,...,...,...,...,...
495,1,7,2,0.0,85093,Photo,3
496,1,5,8,0.0,81370,Photo,2
497,1,5,2,0.0,81370,Photo,1
498,1,4,11,0.0,81370,Photo,3
499,1,4,4,NaN,81370,Photo,2

In [18]:
# Sorting the dataset
sort_data = data.sort_values('Category',ascending=True)
sort_data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions","Lifetime,Engaged,Users","Lifetime,Post,Consumers","Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share,"Total,Interactions"
128,136393,Photo,1,10,6,13,0.0,645,1117,195,192,224,989,554,166,0,4.0,1.0,"5,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
144,136013,Photo,1,10,2,3,1.0,50736,140432,1462,1450,8308,46252,15552,1275,3,41.0,9.0,"53,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
145,136013,Photo,1,10,1,10,1.0,5324,11040,528,483,861,8627,4054,448,6,76.0,14.0,"96,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
402,107907,Photo,1,4,3,4,1.0,39568,47128,741,652,957,22022,16096,519,4,128.0,17.0,"149,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
401,107907,Photo,1,4,3,13,1.0,46192,80227,1364,1096,1697,32842,16960,762,9,329.0,38.0,"376,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,116435,Photo,3,5,1,13,0.0,4202,7633,562,481,730,6173,3298,428,3,148.0,16.0,"167,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
359,116091,Photo,3,5,7,2,0.0,6984,12066,780,631,1116,8188,4776,570,25,256.0,54.0,"335,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
361,116091,Photo,3,5,6,3,0.0,3332,5797,463,406,552,4347,2330,341,0,87.0,18.0,"105,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
143,136013,Photo,3,10,2,10,1.0,16776,39549,714,440,720,11860,6200,590,10,377.0,60.0,"447,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
162,135617,Photo,3,9,6,10,0.0,7512,13633,769,614,951,5503,3260,530,22,290.0,98.0,"410,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

In [19]:
# Transposing the dataset (coverting rows to columns and columns to rows)
trans_data = data.transpose()
trans_data

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,6,5,1,7,7,5,5,4,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,11,3,11,2,10,2,8,2,11,4
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
"Lifetime Post Total,Reach",2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,5280,6184,45920,8412,5400,4684,3480,3778,4156,4188
"Lifetime,Post,Total,Impressions",5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,8703,10228,5808,13960,9218,7536,6229,7216,7564,7292
"Lifetime,Engaged,Users",178,1457,177,2211,671,1191,481,537,1530,280,...,951,956,753,1179,810,733,537,625,626,564
"Lifetime,Post,Consumers",109,1361,113,790,410,1073,265,232,1407,183,...,911,901,655,1111,756,708,508,572,574,524
"Lifetime,Post,Consumptions",159,1674,154,1119,580,1389,364,305,1692,250,...,1237,1140,763,1632,1003,985,687,795,832,743
"Lifetime,Post,Impressions,by,people,who,have,liked,your,Page",3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,5757,6085,15766,8632,5654,4750,3961,4742,4534,3861
"Lifetime,Post,reach,by,people,who,like,your,Page",1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,3300,3502,10720,5348,3230,2876,2104,2388,2452,2200
"Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",119,1108,132,1386,396,1016,379,422,1250,199,...,431,437,220,699,422,392,301,363,370,316
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,0,17,10,5,0,4,7,0
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0,28.0
"Total,Interactions","100,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","164,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","80,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","1777,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","393,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","186,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","279,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","339,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","192,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","142,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",...,"110,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","152,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","137,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","257,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","176,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","84,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","75,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","115,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","136,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","119,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

In [20]:
# Reshaping the dataset
reshape_data =data.pivot_table(index=['Category','Post Month'])
reshape_data

                     Lifetime Post Total,Reach  Lifetime,Engaged,Users  \
Category Post Month
1        1                        22748.666667              801.666667
         2                        25634.166667             1514.083333
         3                        13451.645161             1037.032258
         4                        29366.818182              892.136364
         5                        13067.600000              861.800000
         6                        29405.526316             1078.947368
         7                        29249.625000             1120.312500
         8                        15963.444444              938.111111
         9                        12904.777778              976.555556
         10                        8981.918919              531.837838
         11                       17030.969697              519.424242
         12                       11602.125000              715.812500
2        1                         6169.500000              989.750000
         2                         8670.000000             1063.333333
         3                         5521.000000              353.000000
         4                        13312.800000             1331.400000
         5                         6153.777778              795.555556
         6                         5987.090909              930.909091
         7                        17085.956522             1368.739130
         8                         5801.285714              734.214286
         9                         5577.277778              978.500000
         10                       13924.857143             1709.571429
         11                        3349.200000              644.600000
         12                       11214.500000             1342.954545
3        1                         9848.533333             1138.800000
         2                        25555.090909             1546.909091
         3                        15564.666667              820.666667
         4                         9570.695652              778.826087
         5                        11932.434783              856.434783
         6                        10275.052632              852.842105
         7                        12051.000000              805.384615
         8                        16900.363636              822.454545
         9                         7339.444444              731.111111
         10                        7178.444444              656.222222
         11                        5092.142857              521.428571
         12                        4661.250000              263.750000

                     Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post  \
Category Post Month
1        1                                                  481.333333
         2                                                  662.333333
         3                                                  465.806452
         4                                                  628.909091
         5                                                  681.600000
         6                                                  664.631579
         7                                                  659.062500
         8                                                  735.222222
         9                                                  657.888889
         10                                                 408.405405
         11                                                 332.666667
         12                                                 562.312500
2        1                                                  448.000000
         2                                                  521.666667
         3                                                  218.500000
         4                                                 1057.000000
         5                                                  610.333333
         6                                                  648.454545
         7                                                  907.478261
         8                                                  591.642857
         9                                                  812.333333
         10                                                1310.500000
         11                                                 559.000000
         12                                                1032.318182
3        1                                                  486.933333
         2                                                  851.818182
         3                                                  638.000000
         4                                                  538.913043
         5                                                  569.782609
         6                                                  509.052632
         7                                                  523.307692
         8                                                  624.363636
         9                                                  548.444444
         10                                                 545.222222
         11                                                 377.285714
         12                                                 202.166667

                     Lifetime,Post,Consumers  Lifetime,Post,Consumptions  \
Category Post Month
1        1                        688.833333                  910.500000
         2                       1439.083333                 1993.583333
         3                       1004.161290                 2974.774194
         4                        813.045455                 1306.409091
         5                        773.400000                 1275.600000
         6                       1006.684211                 3017.789474
         7                       1019.437500                 2570.500000
         8                        797.444444                 1436.444444
         9                        799.111111                 1266.666667
         10                       480.324324                 1053.297297
         11                       392.424242                  689.454545
         12                       637.000000                 1505.500000
2        1                        931.250000                 1392.500000
         2                        996.000000                 1284.000000
         3                        326.500000                  446.000000
         4                       1141.200000                 2320.000000
         5                        717.222222                 1235.666667
         6                        874.727273                 1356.181818
         7                       1108.826087                 1820.826087
         8                        671.500000                  971.857143
         9                        887.166667                 1153.666667
         10                      1505.142857                 2107.714286
         11                       580.000000                  752.400000
         12                      1136.863636                 1434.090909
3        1                       1085.066667                 1456.200000
         2                       1399.454545                 2101.363636
         3                        652.333333                  992.666667
         4                        636.695652                  917.434783
         5                        672.782609                 1051.608696
         6                        720.000000                  996.684211
         7                        628.923077                  917.307692
         8                        564.000000                  902.363636
         9                        487.222222                  720.444444
         10                       535.222222                  743.666667
         11                       349.428571                  495.571429
         12                       160.166667                  212.833333

                     Lifetime,Post,Impressions,by,people,who,have,liked,your,Page  \
Category Post Month
1        1                                                18834.500000
         2                                                29496.750000
         3                                                45223.516129
         4                                                21908.863636
         5                                                18979.600000
         6                                                19123.210526
         7                                                20645.750000
         8                                                26369.666667
         9                                                14608.333333
         10                                                9311.972973
         11                                               14651.151515
         12                                               14059.625000
2        1                                                 5582.000000
         2                                                19874.333333
         3                                                 7999.000000
         4                                                16785.000000
         5                                                 7913.444444
         6                                                 7363.000000
         7                                                15073.652174
         8                                                 8147.500000
         9                                                 7686.888889
         10                                               14692.928571
         11                                                5178.200000
         12                                               14454.363636
3        1                                                 6709.400000
         2                                                67700.727273
         3                                                67273.000000
         4                                                 7796.391304
         5                                                11313.913043
         6                                                 9992.157895
         7                                                10680.230769
         8                                                26314.272727
         9                                                 7991.444444
         10                                                6189.666667
         11                                                5604.571429
         12                                                5618.416667

                     Lifetime,Post,Total,Impressions  \
Category Post Month
1        1                               8033.000000
         2                              68825.083333
         3                              62892.225806
         4                              46140.818182
         5                              22739.800000
         6                              49446.842105
         7                              51727.625000
         8                              35256.888889
         9                              25478.222222
         10                             21399.189189
         11                             39092.121212
         12                             21055.437500
2        1                              10749.000000
         2                              22712.333333
         3                               9747.000000
         4                              23688.600000
         5                              10747.444444
         6                              10124.454545
         7                              28744.739130
         8                              10063.785714
         9                              10481.666667
         10                             24921.214286
         11                              6648.800000
         12                             20543.090909
3        1                               9603.800000
         2                             117044.818182
         3                              70677.333333
         4                              14628.391304
         5                              18971.782609
         6                              16619.631579
         7                              19162.615385
         8                              38403.181818
         9                              12709.555556
         10                             15707.777778
         11                              9696.142857
         12                              8224.166667

                     Lifetime,Post,reach,by,people,who,like,your,Page  \
Category Post Month
1        1                                               10572.666667
         2                                                8746.500000
         3                                                5946.451613
         4                                               12045.727273
         5                                               10870.800000
         6                                                9502.157895
         7                                               10148.625000
         8                                               11102.555556
         9                                                6959.333333
         10                                               4102.864865
         11                                               5567.636364
         12                                               6717.250000
2        1                                                3210.000000
         2                                                6836.000000
         3                                                4209.000000
         4                                                9414.400000
         5                                                4444.444444
         6                                                4245.090909
         7                                                8264.347826
         8                                                4645.142857
         9                                                4007.388889
         10                                               7564.285714
         11                                               2536.200000
         12                                               7580.363636
3        1                                                3944.533333
         2                                                9317.454545
         3                                               13464.000000
         4                                                4587.565217
         5                                                6479.130435
         6                                                5514.315789
         7                                                6285.000000
         8                                               10279.272727
         9                                                4606.666667
         10                                               3220.111111
         11                                               2819.285714
         12                                               3143.416667

                     Page total likes      Paid  Post Hour  Post Weekday  \
Category Post Month
1        1               85691.500000  0.333333   5.500000      4.666667
         2               92471.333333  0.166667   9.916667      3.750000
         3              100822.548387  0.258065  11.903226      4.580645
         4              110349.727273  0.318182   8.454545      3.909091
         5              116897.800000  0.200000   6.400000      3.400000
         6              125559.263158  0.315789  10.263158      3.842105
         7              129640.062500  0.500000   8.437500      3.875000
         8              132619.777778  0.222222   7.444444      3.666667
         9              135167.333333  0.111111   8.555556      2.888889
         10             136441.432432  0.189189   8.486486      5.432432
         11             137910.818182  0.424242   6.212121      4.090909
         12             138533.812500  0.375000   7.187500      4.375000
2        1               84035.000000  0.000000   6.500000      4.000000
         2               92079.000000  1.000000   6.333333      4.000000
         3               97472.000000  0.000000   5.500000      4.000000
         4              109916.400000  0.600000   7.000000      4.800000
         5              117649.222222  0.000000   8.444444      4.111111
         6              125271.454545  0.090909   7.090909      4.272727
         7              129859.391304  0.391304   8.304348      3.826087
         8              132584.428571  0.357143   6.928571      4.500000
         9              135220.944444  0.277778   6.166667      3.722222
         10             136372.857143  0.285714   4.642857      4.642857
         11             137365.000000  0.000000   5.600000      3.400000
         12             139016.000000  0.090909   7.227273      4.090909
3        1               85748.800000  0.133333   7.666667      4.533333
         2               92283.272727  0.272727   7.454545      3.909091
         3               99018.666667  0.000000   8.333333      2.333333
         4              110171.260870  0.434783   8.695652      4.260870
         5              118216.826087  0.304348   8.695652      4.347826
         6              124234.000000  0.315789   6.421053      3.210526
         7              129568.538462  0.230769   8.461538      4.230769
         8              132458.818182  0.272727   7.727273      3.909091
         9              135132.111111  0.555556   4.888889      4.333333
         10             136442.222222  0.111111   8.444444      4.111111
         11             137245.571429  0.142857   7.857143      4.428571
         12             138880.250000  0.166667   5.250000      3.416667

                       comment        like      share
Category Post Month
1        1            2.000000  153.000000  13.833333
         2            3.583333  128.916667  19.916667
         3            2.870968   68.322581   7.774194
         4            4.909091  123.090909  18.909091
         5            9.800000  154.600000  34.600000
         6            9.947368  103.631579  12.473684
         7            7.687500  162.625000  26.000000
         8            2.111111  195.000000  18.666667
         9           18.444444  296.555556  54.750000
         10           3.567568   81.805556  14.852941
         11           7.000000  154.000000  25.727273
         12           5.437500  102.500000  11.625000
2        1           14.500000  143.250000  43.750000
         2            2.000000  125.333333  30.000000
         3            1.000000   40.000000  17.500000
         4            7.200000  331.200000  63.400000
         5            2.000000  140.333333  28.000000
         6            5.000000  108.909091  23.181818
         7           26.695652  366.608696  54.000000
         8            6.500000  104.928571  17.857143
         9            8.777778  151.388889  25.500000
         10          13.714286  335.785714  43.785714
         11           1.000000   78.400000  13.000000
         12           9.454545  253.045455  32.409091
3        1            5.266667  105.400000  35.733333
         2           20.454545  281.272727  61.181818
         3            4.333333  264.666667  40.666667
         4            5.304348  207.521739  32.173913
         5            9.826087  259.217391  33.347826
         6            3.842105  177.894737  19.578947
         7            4.615385  241.307692  35.076923
         8            7.636364  320.272727  27.636364
         9            8.111111  324.444444  46.444444
         10           4.222222  177.000000  28.333333
         11           5.571429  211.142857  31.142857

In [21]:
# Reseting dataset
data.reset_index(drop=True,inplace=True)
data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions","Lifetime,Engaged,Users","Lifetime,Post,Consumers","Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share,"Total,Interactions"
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,"100,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,"164,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,"80,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,"1777,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,"393,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,"84,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,"75,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,"115,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,"136,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,"119,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"