## DSBDA Assignment 1 (Group B)

Sharvin Pharande

TE IT

8022

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("dataset_Facebook.csv", sep=";")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions","Lifetime,Engaged,Users","Lifetime,Post,Consumers","Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share,"Total,Interactions"
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,"100,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,"164,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,"80,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,"1777,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,"393,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

In [ ]:
df.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total,Reach                                              0
Lifetime,Post,Total,Impressions                                        0
Lifetime,Engaged,Users                                                 0
Lifetime,Post,Consumers                                                0
Lifetime,Post,Consumptions                                             0
Lifetime,Post,Impressions,by,people,who,have,liked,your,Page           0
Lifetime,Post,reach,by,people,who,like,your,Page                       0
Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total,Interactions                                                     0
dtype: int64

In [ ]:
df.Paid.nunique()

2

In [ ]:
df = df.dropna(subset=["Paid"])

In [ ]:
df.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   0
Lifetime Post Total,Reach                                              0
Lifetime,Post,Total,Impressions                                        0
Lifetime,Engaged,Users                                                 0
Lifetime,Post,Consumers                                                0
Lifetime,Post,Consumptions                                             0
Lifetime,Post,Impressions,by,people,who,have,liked,your,Page           0
Lifetime,Post,reach,by,people,who,like,your,Page                       0
Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total,Interactions                                                     0
dtype: int64

In [ ]:
df = df.fillna(df.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [ ]:
df.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   0
Lifetime Post Total,Reach                                              0
Lifetime,Post,Total,Impressions                                        0
Lifetime,Engaged,Users                                                 0
Lifetime,Post,Consumers                                                0
Lifetime,Post,Consumptions                                             0
Lifetime,Post,Impressions,by,people,who,have,liked,your,Page           0
Lifetime,Post,reach,by,people,who,like,your,Page                       0
Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post    0
comment                                                                0
like                                                                   0
share                                                                  0
Total,Interactions                                                     0
dtype: int64

In [ ]:
df.shape

(499, 19)

In [ ]:
df.describe()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions","Lifetime,Engaged,Users","Lifetime,Post,Consumers","Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share
count,499.000000,499.000000,499.00000,499.000000,499.000000,499.000000,499.000000,4.990000e+02,499.000000,499.000000,499.000000,4.990000e+02,499.000000,499.000000,499.000000,499.000000,499.000000
mean,123277.991984,1.879760,7.05010,4.150301,7.847695,0.278557,13922.829659,2.963063e+04,921.058116,799.322645,1416.476954,1.679224e+04,6594.276553,610.575150,7.496994,178.120482,27.264646
std,16180.746980,0.853513,3.30016,2.032728,4.369579,0.448739,22759.436725,7.687382e+04,985.875544,883.304633,2002.374781,5.984823e+04,7687.201842,613.198717,21.199509,323.375224,42.484732
min,81370.000000,1.000000,1.00000,1.000000,1.000000,0.000000,238.000000,5.700000e+02,9.000000,9.000000,9.000000,5.670000e+02,236.000000,9.000000,0.000000,0.000000,0.000000
25%,113028.000000,1.000000,4.00000,2.000000,3.000000,0.000000,3308.000000,5.690500e+03,393.500000,332.000000,508.500000,3.982500e+03,2179.000000,291.000000,1.000000,56.500000,10.000000
50%,129600.000000,2.000000,7.00000,4.000000,9.000000,0.000000,5282.000000,9.067000e+03,626.000000,554.000000,852.000000,6.258000e+03,3422.000000,413.000000,3.000000,101.000000,19.000000
75%,136393.000000,3.000000,10.00000,6.000000,11.000000,1.000000,13184.000000,2.221300e+04,1062.000000,958.000000,1465.000000,1.492900e+04,7994.000000,656.500000,7.000000,187.500000,32.000000
max,139441.000000,3.000000,12.00000,7.000000,23.000000,1.000000,180480.000000,1.110282e+06,11452.000000,11328.000000,19779.000000,1.107833e+06,51456.000000,4376.000000,372.000000,5172.000000,790.000000

## Creating subset by dividing rows

In [ ]:
df_subset_1 = df.loc[250:]
df_subset_1.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions","Lifetime,Engaged,Users","Lifetime,Post,Consumers","Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share,"Total,Interactions"
250,129600,Photo,1,7,7,6,1.0,5848,9068,622,570,795,6651,4212,383,4,71.0,10.0,"85,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
251,129600,Photo,1,7,6,11,0.0,26944,43464,877,740,1097,20270,10208,563,6,194.0,34.0,"234,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
252,129600,Photo,3,7,6,5,0.0,5292,9321,756,646,1033,5867,3404,516,6,226.0,42.0,"274,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
253,129600,Status,2,7,5,12,1.0,15576,27513,2417,2327,3098,19078,10840,1839,11,238.0,51.0,"300,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
254,129600,Photo,3,7,5,3,0.0,54256,82011,1620,963,1419,42128,24224,977,10,755.0,58.0,"823,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

In [ ]:
df_subset_1.shape

(249, 19)

In [ ]:
df_subset_2 = df.loc[:249]
df_subset_2.tail()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions","Lifetime,Engaged,Users","Lifetime,Post,Consumers","Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share,"Total,Interactions"
245,130791,Photo,1,7,2,13,0.0,44464,66824,1052,930,1571,22904,14080,559,4,154.0,30.0,"188,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
246,130791,Photo,2,7,2,8,0.0,2881,5188,550,503,730,3840,2040,323,0,73.0,15.0,"88,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
247,129600,Photo,2,7,1,12,0.0,3460,6503,541,482,667,4371,2260,314,0,96.0,19.0,"115,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
248,129600,Photo,3,7,1,6,0.0,3406,5656,571,512,731,4446,2598,355,1,98.0,19.0,"118,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
249,129600,Photo,2,7,7,11,1.0,2602,4349,479,444,588,3342,1946,287,1,53.0,14.0,"68,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

In [ ]:
df_subset_2.shape

(250, 19)

## Merging 2 subsets row wise

In [ ]:
df_merge_row = pd.concat([df_subset_1, df_subset_2])
df_merge_row

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions","Lifetime,Engaged,Users","Lifetime,Post,Consumers","Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share,"Total,Interactions"
250,129600,Photo,1,7,7,6,1.0,5848,9068,622,570,795,6651,4212,383,4,71.0,10.0,"85,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
251,129600,Photo,1,7,6,11,0.0,26944,43464,877,740,1097,20270,10208,563,6,194.0,34.0,"234,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
252,129600,Photo,3,7,6,5,0.0,5292,9321,756,646,1033,5867,3404,516,6,226.0,42.0,"274,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
253,129600,Status,2,7,5,12,1.0,15576,27513,2417,2327,3098,19078,10840,1839,11,238.0,51.0,"300,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
254,129600,Photo,3,7,5,3,0.0,54256,82011,1620,963,1419,42128,24224,977,10,755.0,58.0,"823,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,130791,Photo,1,7,2,13,0.0,44464,66824,1052,930,1571,22904,14080,559,4,154.0,30.0,"188,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
246,130791,Photo,2,7,2,8,0.0,2881,5188,550,503,730,3840,2040,323,0,73.0,15.0,"88,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
247,129600,Photo,2,7,1,12,0.0,3460,6503,541,482,667,4371,2260,314,0,96.0,19.0,"115,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
248,129600,Photo,3,7,1,6,0.0,3406,5656,571,512,731,4446,2598,355,1,98.0,19.0,"118,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
249,129600,Photo,2,7,7,11,1.0,2602,4349,479,444,588,3342,1946,287,1,53.0,14.0,"68,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

In [ ]:
df_merge_row.reset_index()

,index,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions","Lifetime,Engaged,Users","Lifetime,Post,Consumers","Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share,"Total,Interactions"
0,250,129600,Photo,1,7,7,6,1.0,5848,9068,622,570,795,6651,4212,383,4,71.0,10.0,"85,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
1,251,129600,Photo,1,7,6,11,0.0,26944,43464,877,740,1097,20270,10208,563,6,194.0,34.0,"234,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
2,252,129600,Photo,3,7,6,5,0.0,5292,9321,756,646,1033,5867,3404,516,6,226.0,42.0,"274,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
3,253,129600,Status,2,7,5,12,1.0,15576,27513,2417,2327,3098,19078,10840,1839,11,238.0,51.0,"300,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
4,254,129600,Photo,3,7,5,3,0.0,54256,82011,1620,963,1419,42128,24224,977,10,755.0,58.0,"823,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,245,130791,Photo,1,7,2,13,0.0,44464,66824,1052,930,1571,22904,14080,559,4,154.0,30.0,"188,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
495,246,130791,Photo,2,7,2,8,0.0,2881,5188,550,503,730,3840,2040,323,0,73.0,15.0,"88,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
496,247,129600,Photo,2,7,1,12,0.0,3460,6503,541,482,667,4371,2260,314,0,96.0,19.0,"115,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
497,248,129600,Photo,3,7,1,6,0.0,3406,5656,571,512,731,4446,2598,355,1,98.0,19.0,"118,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
498,249,129600,Photo,2,7,7,11,1.0,2602,4349,479,444,588,3342,1946,287,1,53.0,14.0,"68,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

In [ ]:
df_merge_row.shape

(499, 19)

## Creating subset by dividing columns

In [ ]:
df_subset_1 = df.iloc[:,:9]
df_subset_1.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions"
0,139441,Photo,2,12,4,3,0.0,2752,5091
1,139441,Status,2,12,3,10,0.0,10460,19057
2,139441,Photo,3,12,3,3,0.0,2413,4373
3,139441,Photo,2,12,2,10,1.0,50128,87991
4,139441,Photo,2,12,2,3,0.0,7244,13594

In [ ]:
df_subset_1.shape

(499, 9)

In [ ]:
df_subset_2 = df.iloc[:,9:]
df_subset_2.head()

,"Lifetime,Engaged,Users","Lifetime,Post,Consumers","Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share,"Total,Interactions"
0,178,109,159,3078,1640,119,4,79.0,17.0,"100,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
1,1457,1361,1674,11710,6112,1108,5,130.0,29.0,"164,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
2,177,113,154,2812,1503,132,0,66.0,14.0,"80,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
3,2211,790,1119,61027,32048,1386,58,1572.0,147.0,"1777,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
4,671,410,580,6228,3200,396,19,325.0,49.0,"393,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

In [ ]:
df_subset_2.shape

(499, 10)

In [ ]:
df_merge_col = pd.concat([df_subset_1,df_subset_2],axis=1)
df_merge_col.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions","Lifetime,Engaged,Users","Lifetime,Post,Consumers","Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share,"Total,Interactions"
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,"100,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,"164,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,"80,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,"1777,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,"393,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

In [ ]:
df_merge_col.tail()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions","Lifetime,Engaged,Users","Lifetime,Post,Consumers","Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share,"Total,Interactions"
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,"176,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,"84,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,"75,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,"115,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,"136,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

In [ ]:
df_merge_col.shape

(499, 19)

## Sorting the dataset

In [ ]:
df_sort = df.sort_values(by=['Lifetime Post Total,Reach'], ascending=True)
df_sort.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions","Lifetime,Engaged,Users","Lifetime,Post,Consumers","Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share,"Total,Interactions"
422,102112,Photo,1,3,1,19,0.0,238,570,143,142,834,567,236,99,0,2.0,0.000000,"2,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
426,100732,Photo,1,3,7,18,0.0,391,746,131,130,766,723,380,93,0,6.0,1.000000,"7,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
432,100732,Photo,1,3,6,17,0.0,452,726,186,184,889,721,450,114,0,4.0,1.000000,"5,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
120,136393,Photo,1,10,7,9,0.0,584,1029,273,271,308,943,511,232,0,2.0,27.264646,"2,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
123,136393,Photo,1,10,7,7,0.0,617,1071,229,223,265,935,521,191,1,3.0,2.000000,"6,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

In [ ]:
df_sort = df.sort_values(by=['Post Hour'], ascending=False)
df_sort.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions","Lifetime,Engaged,Users","Lifetime,Post,Consumers","Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share,"Total,Interactions"
230,131630,Photo,3,7,2,23,0.0,2822,5058,424,351,486,3681,2020,327,2,113.0,20.0,"135,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
287,126141,Photo,1,6,4,22,1.0,20560,24112,936,860,1126,5648,3856,460,14,102.0,9.0,"125,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
381,109670,Photo,3,4,6,20,0.0,5994,9970,964,838,1254,6896,3998,683,11,235.0,34.0,"280,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
422,102112,Photo,1,3,1,19,0.0,238,570,143,142,834,567,236,99,0,2.0,0.0,"2,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
426,100732,Photo,1,3,7,18,0.0,391,746,131,130,766,723,380,93,0,6.0,1.0,"7,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

## Transpose of the df

In [ ]:
df_transpose = df.T
df_transpose

,0,1,2,3,4,5,6,7,8,9,...,489,490,491,492,493,494,495,496,497,498
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85979,85093,85093,85093,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,3,1,3,3,3,2,1,3
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,7,6,6,5,1,7,7,5,5,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,2,11,3,11,2,10,2,8,2,11
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Lifetime Post Total,Reach",2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,4800,5280,6184,45920,8412,5400,4684,3480,3778,4156
"Lifetime,Post,Total,Impressions",5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,7754,8703,10228,5808,13960,9218,7536,6229,7216,7564
"Lifetime,Engaged,Users",178,1457,177,2211,671,1191,481,537,1530,280,...,975,951,956,753,1179,810,733,537,625,626
"Lifetime,Post,Consumers",109,1361,113,790,410,1073,265,232,1407,183,...,938,911,901,655,1111,756,708,508,572,574
"Lifetime,Post,Consumptions",159,1674,154,1119,580,1389,364,305,1692,250,...,1278,1237,1140,763,1632,1003,985,687,795,832
"Lifetime,Post,Impressions,by,people,who,have,liked,your,Page",3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,4932,5757,6085,15766,8632,5654,4750,3961,4742,4534
"Lifetime,Post,reach,by,people,who,like,your,Page",1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,2820,3300,3502,10720,5348,3230,2876,2104,2388,2452
"Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",119,1108,132,1386,396,1016,379,422,1250,199,...,432,431,437,220,699,422,392,301,363,370
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,1,0,17,10,5,0,4,7
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,74.0,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,28.0,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0
"Total,Interactions","100,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","164,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","80,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","1777,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","393,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","186,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","279,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","339,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","192,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","142,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",...,"103,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","110,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","152,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","137,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","257,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","176,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","84,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","75,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","115,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","136,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

## Reshape the df

In [ ]:
df_reshape = df.melt(id_vars =['Category', 'Lifetime,Engaged,Users'])
df_reshape

,Category,"Lifetime,Engaged,Users",variable,value
0,2,178,Page total likes,139441
1,2,1457,Page total likes,139441
2,3,177,Page total likes,139441
3,2,2211,Page total likes,139441
4,2,671,Page total likes,139441
...,...,...,...,...
8478,3,810,"Total,Interactions","176,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
8479,3,733,"Total,Interactions","84,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
8480,2,537,"Total,Interactions","75,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
8481,1,625,"Total,Interactions","115,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
8482,3,626,"Total,Interactions","136,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

In [ ]:
col = df[['like','comment','share']]
df_pivot_reshape = pd.pivot_table(col,index=['comment','share'])
df_pivot_reshape

                      like
comment share
0       0.0       2.250000
        1.0       8.000000
        2.0      12.090909
        3.0      20.750000
        4.0      18.500000
...                    ...
64      25.0    367.000000
103     33.0    469.000000
144     208.0  1622.000000
146     181.0  1546.000000
372     790.0  5172.000000

[317 rows x 1 columns]